.sobre  {
    border-top: 4px solid #2c70ff;
    border-bottom: 4px solid #2c70ff;
    padding: 60px 0;
    .container {
        display: flex;
        flex-wrap: wrap;
    }

}
.sobre-info {
    flex: 2 1 300px; 
    margin: 0 10px;
}
.sobre-info {
    h1 {
        font-size: 2em;
        margin-bottom: .5em; 
    }
    p {
        font-size: 1.25em;
        line-height: 1.4;
        margin-bottom: 1em;
        color: #7c7c7c;
    }
}
.sobre-img {
    flex: 1 1 160px;
    margin: 0 10px;
}